* {
  padding: 0;
  margin: 0;
}

.note-app {
  display: flex;
}

.note-app ul {
  list-style-type: none;
}

.note-app-part {
  height: 100vh;
}

.note-app input {
  font-family: "FontAwesome";
}

/*NAVBAR (PURPLE)*/

#navbar {
  flex: 0.2;
  background:  #9f51f8;
}

/*search field*/
#search-field {
  border: none;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
}

#search-field-submit {
  position: relative;
  z-index: 1;
  left: 250px;
  top: -35px;
  cursor: pointer;
}

/*ul*/
#navbar-items { 
  text-align: center;
}

/*il*/
#navbar li {
  font-size: 50px;
  align-items: center;
  padding: 40px;
}

/*NOTEBAR (GREY)*/

#notebar {
  flex: 1.2;
  background: rgb(231, 231, 231);
}

#notebar li {
  font-size: 20px;
  align-items: center;
  padding: 20px;
}

/*NOTE EDITOR*/

#note-editor {
  flex: 6;
}

