* {
  padding: 0;
  margin: 0;
  font-family: 'Manrope', sans-serif;
}

.hide-me {
  visibility: hidden !important;
}

.note-app {
  display: flex;
}

.note-app ul {
  list-style-type: none;
}

.note-app-part {
  height: 100vh;
}

.note-app input {
  font-family: "FontAwesome";
}

/*NAVBAR (PURPLE)*/

#navbar {
  background:  #9f51f8;
}

#navbar-items li i{
  font-size: 30px;
}

/*HIGHLIGHTED ITEM IN NAVBAR*/

.highlightedElement {
  color: white;
}

#navbar li:hover {
  color: white;
  cursor: pointer;
}

#home .fa-quora{
  font-size: 50px;
  text-shadow: 3px 2px 3px rgba(255, 255, 255, 0.548);
}

#home a, #home a:visited {
  color: black;
}

#home a:active {
  color: white;
}

/*SEARCH FIELD AND ADD NEW NOTE BUTTON CONTAINERS*/

#input-container {
  display: flex;
}

#search-container {
  padding: 20px;
}

/*SEARCH FIELD*/

#search-field {
  border: none;
  border-radius: 8px;
  padding: 10px;
  width: 80%;
}

/*FAVOURITE BUTTON*/

.star {
  color: gold;
  font-size: 20px;
}

.star:hover {
  cursor: pointer;
}

/*REMOVED BUTTON*/

.garbage {
  color: rgb(65, 65, 65);
  margin-left: 10px;
}

.garbage:hover {
  cursor: pointer;
}

.removed {
  font-size: 23px;
}

/*ul*/

#navbar-items { 
  text-align: center;
}

#scroller {
  height: 85vh;
  overflow-y: scroll;
}

/*li*/

#navbar li {
  font-size: 50px;
  align-items: center;
  padding: 20px;
}

/*NOTEBAR (GREY)*/

#notebar {
  flex-basis: 20%;
  background: rgb(240, 240, 240);
  box-shadow: inset 3px 0px 6px rgb(161, 161, 161);
}

/*NOTE EDITOR*/

#note-editor {
  flex-basis: 70%;
  margin-left: 7%;
  margin-right: 7%;
}

.ql-editor {
  font-size: 15px;
  padding: 30px;
}

/* EDITOR BUTTONS - SAVE & CLEAR */

#container-btn {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 20px;
  bottom: 30px;
}

#clear-btn:hover, #save-btn:hover, .print:hover {
  cursor: pointer;
  color: #9f51f8;
}

/* SAVE BUTTON */

#save-btn {
  border: hidden;
  background: none;
}

.fa-floppy-o {
  font-size: 40px;
  margin: 5px;
}

/*NEW NOTE BUTTON*/

#clear-btn {
  border: hidden;
  background: none;
}

.fa-plus-square {
  font-size: 40px;
  margin: 5px;
}

/* PRINT BUTTON */

.print{
  border: hidden;
  background: none;
}

.fa-print {
  font-size: 40px;
  margin: 5px;
}

/* NOTE-LIST */

#notes-list li {
  border-bottom: 2px solid lightgray;
  margin: 3px;
  padding: 20px;
}

#notes-list h2{
  margin-top: 5px;
  font-size: 20px;
}

#notes-list h3{
  font-size: 11px;
  color: rgb(82, 82, 82);
  font-weight: 100;
  margin: 5px 0;
}

#notes-list p {
  font-size: 15px;
}

/* PRINT funktionen */
@media print {
    @page {
      margin: 0;
    }
    body {
      visibility: hidden;
    }
    #editor * {
      margin: 1% 1% 0 1%;
      visibility: visible;
      overflow-y: hidden;
      position: relative;
    }
    #editor {
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }
    #editor::-webkit-scrollbar {
      -ms-overflow-style: none;
      width: 0 !important;
    }
    .print:last-child {
      page-break-after: auto;
  }
}

/* Responsivitet */
@media screen and (max-width: 950px) {
  #note-editor {
    margin: 0;
    padding-left: 2%;
    padding-right: 2%;
  }
  #container-btn {
    right: 8px;
    bottom: 15px;
  }
  #navbar {
    width: 10%;
  }
  #search-field {
    width: 90%;
  }
  #notes-list {
    width: 170px;
  }
  #notes-list li {
    margin: 3px;
    padding: 10px;
  }
  #notes-list p {
    font-size: 12px;
  }
  #navbar-items li i{
    font-size: 25px;
  }
  #navbar li {
    padding: 10px;
  }
  .fa-plus-square, .fa-floppy-o, .fa-print{
    font-size: 25px;
  }
}


@media screen and (max-width: 425px) {
  .note-app {
    display: flex;
    flex-direction: column;
  }
  #navbar {
    height: 100px;
    width: 100%;
  }
  #navbar-items li i{
    font-size: 35px;
  }
  #navbar-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
  }
  #notebar {
    box-shadow: inset 0px 2px 1px rgb(194, 194, 194);
  }
  #notes-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }
  #notes-list li {
    margin: 5px 10px;
    padding: 5px;
    border-bottom: none;
  }
  #scroller {
    height: 30vh;
  }
  #notes-list h2 {
    font-size: 15px;
  }
  #container-btn {
    right: 5px;
    bottom: 5px;
  }
}