* {
  padding: 0;
  margin: 0;
  font-family: 'Manrope', sans-serif;
}

.note-app {
  display: flex;
}

.note-app ul {
  list-style-type: none;
}

.note-app-part {
  height: 100vh;
}

.note-app input {
  font-family: "FontAwesome";
}

/*NAVBAR (PURPLE)*/

#navbar {
  flex: 0.2;
  background:  #9f51f8;
}

/*SEARCH FIELD AND ADD NEW NOTE BUTTON CONTAINERS*/

#input-container {
  display: flex;
}

#search-container {
  flex: 5;
  padding: 20px;
}

#add-new-note-container {
  flex: 1;
  padding: 20px;
}

/*SEARCH FIELD*/

#search-field {
  border: none;
  border-radius: 8px;
  padding: 10px;
}

#search-field-submit {
  position: relative;
  z-index: 1;
  left: 160px;
  top: -25px;
  cursor: pointer;
}

/*NEW NOTE BUTTON*/

#new-note-btn {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 8px;
  background: white;
}

.fa-edit {
  font-size: 22px;
  text-align: center;
  padding: 5px;
}
.fa-edit:hover {
  cursor: pointer;
}

/*FAVOURITE NOTE BUTTON*/

.unfilled {
  /* float: right; */
  position: relative;
  left: 210px;
  top: -5px;
}

/*REMOVED NOTE BUTTON*/

.removed {
  position: relative;
  left: 225px;
  top: -3px;
  font-size: 23px;
}

/* CLEAR ALL NOTES BUTTON */

#clearAllNotes {
  padding: 8px;
  font-weight: 800;
  border: 1px solid rgb(102, 102, 102);
  border-radius: 5px;
}

/*ul*/

#navbar-items { 
  text-align: center;
}

/*li*/

#navbar li {
  font-size: 50px;
  align-items: center;
  padding: 40px;
}

/*NOTEBAR (GREY)*/

#notebar {
  flex: 1.2;
  background: rgb(231, 231, 231);
}

#notebar li {
  font-size: 20px;
  align-items: center;
  padding: 20px;
}

/*NOTE EDITOR*/

#note-editor {
  flex: 6;
}

/* NOTE-LIST */

#notes-list li {
  border-bottom: 2px solid lightgray;
}

#notes-list h2{
  font-size: 20px;
}

#notes-list h3{
  font-size: 12px;
  color: rgb(82, 82, 82);
  font-weight: 100;
  margin-top: 5px;
}

#notes-list p {
  font-size: 15px;
}