* { 
  margin: 0;
  padding: 0;
  font-family: 'Manrope', sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

a, li {
  text-decoration: none;
  list-style-type: none;
  color: black;
}

body {
  height: 100vh;
}

/*NAVBAR*/

#navbar {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgb(0, 0, 0);
  flex-wrap: wrap;
}

.navbarItem a {
  display: flex;
  flex-direction: row;
  text-align: center;
  padding: 20px 50px;
  font-size: 20px;
  color: rgb(0, 0, 0);
}

.navbarItem a:hover {
  background-color: whitesmoke;
}

#homeLink img{
  width: 100px;
  height: 30px;
}

/*LANDING PAGE*/

#titlePage {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: fit-content;
}

h1 {
  width: 80%;
  max-width: 700px;
  margin: 0.5em auto;
  text-align: center;
  line-height: 1.1em;
  font-size: 3em;
  margin-top: 4rem;
}

#titleImg {
  max-width: 30em;
}

/*HOW IT WORKS*/

#howItWorks {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  scroll-behavior: auto;
}

h2 {
  text-align: center;
  font-size: 1.3em;
  margin-top: 10px;
}

#parText {
  font-size: 1.5em;
  width: 80%;
  margin: 10px auto;
  text-align: center;
}

#featureList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  max-width: 800px;
  width: 90%;
  margin: 0 auto;
}

.featureItem {
  margin: 1.2rem;
  padding: 1.1rem;
}

.featureIcon {
  font-size: 500%;
}

#gotchaBtn{
  position: relative;
  max-width: 300px;
  background: #8c30f5;
  padding: 15px 40px;
  margin-top: 20px;
  margin-bottom: 100px;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

#gotchaBtn:hover {
  background-color: #9743f7;  
}

.hide-me {
  display: none !important;
}

/*FOOTER*/

footer {
  display: flex;
  background-color: black;
  width: 100%;
  height: 50px;
}

footer p {
  padding: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: white;
}

@media screen and (max-width: 425px) {

  h1 {
    width: 90%;
    font-size: 2em;
  }

  #titleImg {
    max-width: 20em;
  }

  #featureList {
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
  }
}