* { 
  margin: 0;
  padding: 0;
  font-family: 'Manrope', sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
a, li {
  text-decoration: none;
  list-style-type: none;
}
body {
  height: 100vh;
}
/*NAVBAR*/
#navbar {
  /*position: fixed;*/
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgb(0, 0, 0);
  flex-wrap: wrap;
}
.navbarItem a {
  display: flex;
  flex-direction: row;
  text-align: center;
  padding: 20px 50px;
  font-size: 20px;
  color: rgb(0, 0, 0);
}
.navbarItem a:hover {
  background-color: whitesmoke;
}

#homeLink img{
  width: 100px;
  padding: 0;
}

/*NEW NOTE BUTTON*/
#newNote {
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 1;
}
#newBtn {
  font-size: 40px;
  color: white;
  background-color: #8c30f5;
  padding: 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}
#newBtn:hover {
  background-color: #5f12b8;  
}

/*TITLE PAGE*/
#titlePage {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: fit-content;


}
h1 {
  width: 80%;
  max-width: 700px;
  margin: 0.5em auto;
  text-align: center;
  line-height: 1.1em;
  font-size: 3em;
  margin-top: 4rem;
}
#startBtn{
  max-width: 10em;
  color: white;
  background-color: #8c30f5;
  padding: 15px 40px;
  margin-top: 1em;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
#startBtn:hover {
  background-color: #5f12b8;  
}
#titleImg {
  max-width: 30em;

}

/*HOW IT WORKS*/
#howItWorks {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  scroll-behavior: auto;
}
h2 {
  text-align: center;
  font-size: 1.3em;
  margin-top: 10px;
}
#parText {
  font-size: 1.2em;
  width: 90%;
  margin: 10px auto;
  text-align: center;
  max-width: 700px;

}
#featureList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  max-width: 800px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 90px;
}
.featureItem {
  margin: 1.2rem;
  padding: 1.1rem;
}
.featureIcon {
  font-size: 600%;
}
#gotchaBtn{
  position: relative;
  max-width: 300px;
  color: white;
  background-color: #8c30f5;
  padding: 15px 40px;
  margin-top: 50px;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
#gotchaBtn:hover {
  background-color: #5f12b8;  
}
.hide-me {
  display: none !important;
}
/* Container icons HOW IT WORKS 
#container-info {
  display: flex;

}
*/

/*FOOTER*/
footer {
  display: flex;
  background-color: black;
  position: fixed;
   bottom:0;
   width:100%;
   height:70px;
}
footer p {
  padding: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: white;
  
}